.selectFiltre {
    text-decoration: underline;
}

table {
    border: 1px black solid;
    border-collapse: collapse;

}

tr, td {
    border: 1px black solid;
    height: 50px;
}

th{
    width: 100px;
}
td{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    border-collapse: collapse;
}

body>div:first-of-type {
    grid-column: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    gap: 20px;
    padding: 20px 0;
    
}

body>div:last-of-type {
    grid-column: 2;
    background-color: rgb(205, 205, 205);
    border-left: 1px black solid;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#detailConteneur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    display: flex;
}

#detail {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 70%;

    display: flex;
}

.hidden {
    display: none !important;
}

#detail > div:first-of-type{
    width: 50%;
}

#detail table{
    border-collapse: collapse;
}

#detail td, #detail th{
    border: 1px black solid;
    padding: 0 10px;
}


@media (max-width: 640px) {
    body{
        display: flex;
    }

    body>div:first-of-type>div:first-of-type{
        display: flex;
        flex-direction: column;
    }

    body>div:first-of-type th{
        font-size:small;
    }

    body > div:last-of-type{
        display: none;
    }

    #detail{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 70%;
        overflow-x: scroll;
    }

    #detail button{
        position: fixed;
        bottom: 1em;
        left: 50%;
        font-size: xx-large;
    }

    #detail th, #detail td{
        padding: 5px;
    }
}