.selectFiltre {
    text-decoration: underline;
}

table {
    border: 1px black solid;
    border-collapse: collapse;

}

tr, td {
    border: 1px black solid;
    height: 50px;
}

th{
    width: 100px;
}
td{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body>div:first-of-type {
    grid-column: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    gap: 20px;
    padding: 20px 0;
    
}

body>div:last-of-type {
    grid-column: 2;
    background-color: brown;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}